@charset "utf-8";

/* ############################################################################
 *
 * PC表示用（ペットトップ以外） [body#top]2014/12/25 修正分
 *
 * ######################################################################### */
div#main {
}
#floatingNavi{
	display:none;
}
.display_sp {
	display:none;
}
.display_block_sp {
	display:none;
}


#qa div.benefits .benefitsHeader {
	width:660px;
}
#qa div.benefits .benefitsHeader_sp {
	display:none;
}


#qa div.benefits div.txtArea p.setindent{
	margin:0.5em auto auto 2.5em;
	text-indent:-2em;
}
#qa .indent1{
	margin-left:3.5em;
	text-indent:-1em;
}
#qa .indent3{
	margin-left:5em;
	text-indent:-3em;
}
#qa .ml2em{
	margin-left:2.5em;
}
a.btn_orange{
	box-sizing:border-box;
	text-align: center;
	background-color: #ff6600;
	border-radius: 5px;
	padding: 0.5em 1em;
	width:260px;
	color: #FFFFFF;
	font-size: 16px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}
