@charset 'UTF-8';
/* ---------------------------
  AUTE road_service
	@ Parts
	  - block_roadservice_top
	  - block_roadservice_case
	  - road_service_variety
	  - roadservice_table
	  - block_roadservice_premium
	  - basic_service_text
	  - road_service_icontitle
	  - block_bycle_smapho road_service
	  - road_service_area
	  - block_roadservice_agreement
	  - road_service_prolog
--------------------------- */
/* ---------------------------
  @ block_roadservice_top
--------------------------- */
.lower_main_image.ver02.road_service .main_text_lower dl .flow_image img {
  max-width: 266px;
}
.lower_main_image.ver02.road_service .main_text_lower dl .sp_main_image img {
  max-width: 320px;
}
.block_roadservice_premium {
  padding-bottom: 0;
}
.block_roadservice_top {
  padding: 20px 0 0;
}
.block_roadservice_top h2 {
/*  font-size: 20px;
  margin-bottom: 13px;*/
}
.block_roadservice_top h2:before {
/*  content: '';
  width: 30px;
  height: 30px;
  background: url('../../common/img_20150623/sp/roadservice/icon_roadservice.png') no-repeat;
  background-size: contain;
  margin-right: 10px;*/
}
.block_roadservice_top .roadservice_top_inner {
  letter-spacing: normal;
}
.block_roadservice_top .roadservice_top_inner p {
  display: block;
  font-size: 14px;
}
.block_roadservice_top .roadservice_top_inner p em {
  font-size: 18px;
}
.block_roadservice_top .point_flow_text {
  margin-bottom: 35px;
}

/* ---------------------------
  @ block_roadservice_case
--------------------------- */
.block_roadservice_case {
  padding: 20px 0;
}
.block_roadservice_case p {
  width: 19.5%;
  color: #fff;
  font-size: 12px;
  padding: 12px 0 10px;
  margin-bottom: 10px;
  margin-left: -3.125%;
}
.block_roadservice_case ul {
  text-align: center;
  letter-spacing: normal;
}
.block_roadservice_case ul li {
  width: 100%;
  display: block;
  margin: 10px 0 0;
  padding-top: 0;
  background-image: none;
  background-color: #fff;
  text-align: center;
}
.block_roadservice_case ul li img {
  width: 100%;
  max-width: 578px;
  display: inline-block;
}
.block_roadservice_case ul li span {
  font-size: 13px;
  padding: 5px 1.5%;
}

/* ---------------------------
  @ road_service_variety
--------------------------- */
.road_service_variety {
  padding: 35px 0 50px;
}
.road_service_variety h3 {
/*
  font-size: 20px;
  margin-bottom: 30px;
*/
}
.road_service_variety h3:before {
  content: '';
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-right: 10px;
}
.road_service_variety p {
  font-size: 14px;
  text-align: left;
}
.road_service_variety p em {
  font-size: 16px;
}
.road_service_variety p span {
  font-size: 13px;
  display: block;
  margin-top: 15px;
  font-weight: normal;
}

/* ---------------------------
  @ road_service_title
--------------------------- */
.road_service_title {
  font-size: 18px;
  width: 100%;
  margin: 0 0 30px;
}
.road_service_title.premium {
  line-height: 40px;
}
.road_service_title.basic {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #2a4287 2px solid;
  line-height: 36px;
  margin-top: 45px;
}

/* ---------------------------
  @ roadservice_table
--------------------------- */
.roadservice_table {
  padding-bottom: 35px;
}
.roadservice_table .table_outer {
  margin: 0 -10px;
}
.roadservice_table table {
  border-spacing: 10px 0;
}
.roadservice_table table th {
  font-size: 10px;
}
.roadservice_table table .cell_name {
  width: 26%;
  padding-left: 1%;
}
.roadservice_table table tr:first-child th {
  padding-bottom: 5px;
}
.roadservice_table table td {
  font-size: 10px;
  padding: 13px 0 11px;
}
.roadservice_table table td strong {
  font-size: 15px;
}
.roadservice_table table td small {
  font-size: 10px;
  padding: 0;
  margin-top: 7px;
}
.roadservice_table table td img {
  width: 60%;
  height: auto;
}
.roadservice_table table .cell_logo_bycle {
  padding: 13px 0;
}
.roadservice_table table dl dd {
  font-size: 10px;
  text-align: left;
  padding: 0;
  margin-top: 6px;
}


.roadservice_table table.basic_service td ul {
  margin: 10px 0;
}
.roadservice_table table.basic_service td ul li {
  margin: 0 1%;
  width: 30%;
  vertical-align: middle;
}
.roadservice_table table.basic_service td span {
  font-size: 10px;
  text-align: left;
}
.roadservice_table table.basic_service td .plan_text {
  color: #605f5d;
}
.roadservice_table table.basic_service td small {
  font-size: 10px;
}
.roadservice_table ul {
  font-size: 10px;
  font-weight: normal;
  margin-top: 25px;
  line-height: 1.5;
}

/* ---------------------------
  @ block_roadservice_premium
--------------------------- */
.block_roadservice_premium h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.block_roadservice_premium h4:before {
  display: none;
    width:75px;
  height:53px;

}
.block_roadservice_premium h4 .pc_only {
  display: none;
}
.block_roadservice_premium h4 .sp_only {
  display: inline-block;
}
.block_roadservice_premium h4 .sp_only em {
  display: inline-block;
  font-size: 13px;
  text-align: left;
}
.block_roadservice_premium h4 .sp_only em:before {
  content: '';
  //width: 75px;
  //height: 53.5px;
  //background: url('../../common/img_20150623/pc/roadservice/text_renewal.png') no-repeat;
  //background-position: left top;
  //background-size: contain;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.block_roadservice_premium h4 .sp_only em:after {
  display: none;
}
.block_roadservice_premium h4 .sp_only em span {
  display: inline-block;
  vertical-align: middle;
}
.block_roadservice_premium h4 .sp_only em small {
  font-size: 10px;
}
.block_roadservice_premium h4 .sp_only strong {
  display: block;
}

.block_roadservice_premium .block_number_bx.roadservice_premium dd {
  font-size: 22px;
  padding: 15px 0 10px;
}
.block_roadservice_premium .block_number_bx.roadservice_premium dd .pc_only {
  display: none;
}
.block_roadservice_premium .block_number_bx.roadservice_premium dd .sp_only {
  display: block;
  width: 60%;
  height: auto;
  margin: 10px auto 0;
}
.block_bycle_smapho .body_bycle_smapho .left_side .sp_only {
  max-width: 367px;
}
.block_bycle_smapho .body_bycle_smapho .right_side ul li .image img {
  max-width: 82px;
}
.block_roadservice_premium .block_number_bx.roadservice_premium .img_long .sp_only {
  max-width: 287px;
}
.block_roadservice_premium .block_number_bx.roadservice_premium .img_more .sp_only {
  max-width: 362px;
}
.block_roadservice_premium .block_number_bx.roadservice_premium .img_use .sp_only {
  max-width: 236px;
}
.block_roadservice_premium .block_number_bx.roadservice_premium dd span {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  display: block;
  position: static;
  margin-top: 8px;
}
.block_roadservice_premium .block_number_bx.roadservice_premium dd span em {
  font-size: 13px;
}
.block_roadservice_premium dl {
  margin-bottom: 15px;
  font-size: 10px;
}
.block_roadservice_premium ul {
  font-size: 10px;
  margin-bottom: 10px;
}

/* ---------------------------
  @ basic_service_text
--------------------------- */
.basic_service_text {
  padding: 0 0 30px;
}
.basic_service_text p {
  font-size: 12px;
  margin-bottom: 0;
}
.basic_service_text p small {
  font-size: 10px;
  font-weight: normal;
}

/* ---------------------------
  @ road_service_icontitle
--------------------------- */
.road_service_icontitle {
  font-size: 20px;
}
.road_service_icontitle:before {
  content: '';
  background-size: contain;
  margin-right: 10px;
}
.road_service_icontitle.utilization {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 0 0 20px;
  padding: 0 3.125%;
}
.road_service_icontitle.utilization:before {
  width: 30px;
  height: 30px;
  background-image: url('../../common/img_20150623/pc/roadservice/icon_use.png');
}
.road_service_icontitle.area {
  margin-bottom: 15px;
}
.road_service_icontitle.area:before {
  width: 18px;
  height: 30px;
  background-size: contain;
}

/* ---------------------------
  @ block_bycle_smapho road_service
--------------------------- */
.block_bycle_smapho.road_service {
  margin-bottom: 35px;
}
.block_bycle_smapho.road_service .body_bycle_smapho {
  padding-bottom: 55px;
}
.block_bycle_smapho.road_service .body_bycle_smapho:after {
  content: '';
  width: 30px;
  height: 30px;
  background-size: contain;
  bottom: 11px;
  margin-left: -15px;
}
.block_bycle_smapho.road_service .arrival {
  padding: 0 7.7%;
}
.block_bycle_smapho.road_service .arrival dt {
  font-size: 14px;
  margin-bottom: 7px;
}
.block_bycle_smapho.road_service .arrival dt:before {
  content: '';
  width: 36.5px;
  height: 24px;
  background-size: contain;
  margin-right: 7px;
}
.block_bycle_smapho.road_service .arrival dd ul li {
  width: 40%;
  margin: 0 2%;
}

/* ---------------------------
  @ road_service_area
--------------------------- */
.road_service_area {
  width: 100%;
  margin: 0 0 35px;
}
.road_service_area .map_image {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 3.125%;
}
.road_service_area .map_image ul {
  font-size: 10px;
}
.road_service_area .map_image ul li {
  line-height: 2;
}

/* ---------------------------
  @ block_roadservice_agreement
--------------------------- */
.block_roadservice_agreement {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 0 0 45px;
  padding: 0 3.125%;
}
.block_roadservice_agreement dl {
  padding: 13px 0 35px;
}
.block_roadservice_agreement dl dt {
  font-size: 15px;
  margin-bottom: 11px;
}
.block_roadservice_agreement dl dd {
  font-size: 13px;
  padding: 0 3.3%;
  text-align: left;
}
.block_roadservice_agreement dl dd span {
  margin-top: 25px;
}
.block_roadservice_agreement dl dd span a {
  font-size: 11px;
}
.block_roadservice_agreement dl ul {
  text-align: left;
}
.block_roadservice_agreement dl ul li {
  font-size: 12px;
  padding-left: 0;
  text-indent: 0;
  margin-top: 13px;
}

/* ---------------------------
  @ road_service_prolog
--------------------------- */
.road_service_prolog {
  font-size: 10px;
  margin-bottom: 50px;
}

/* ---------------------------
  @ 20150819’Ç‹L
--------------------------- */
li.roadservice_image{
    width:100%;
    text-align:center;
}
.block_roadservice_top .roadservice_top_inner .image{
	width: 100%;
	margin: 0px auto;
	display: block;
}

.roadservice_image img{
	width:100px;
	height:95px;
}
