@charset "utf-8";

.display_pc {
	display:none;
}
.display_block_sp {
	display:block;
}
.display_sp {
	display:inline;
}

div#layout {
	background: none repeat scroll 0 0 #fff;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: left;
	width: 100%;
	max-width:756px;
}

#content{
	padding-top:5px;
	clear:both;
}
/*--------------------------*
 * items
 *--------------------------*/
div#visual{
	float:none;
	width:100%;
}
div#visualPet {
    margin-bottom: 0;
}
div#visual li a img{
	margin:0 auto;
}
section#itemList2 {
    background: url("../../common/spimg3/images_common/bg_visual.gif") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    margin: 0 0.5px 15px;
    padding-top: 10px;
}
section#itemList2 ul {
    letter-spacing: -0.4em;
    text-align: center;
}
section#itemList2 ul li {
    display: inline-block;
    letter-spacing: normal;
    margin: 0 0 5px;
    width: 32%;
    border-bottom: none;
}
section#itemList2 ul li.pet {
    margin-right: 0;
    width: 100%;
}
section#itemList2 ul li img {
    width: 100%;
}
section#itemList2 ul li:first-child {
    border-top: none;
}
section#itemList2 ul li a{
	border 0;
}

div#linkItem #linkPet{
	float:none;
	clear:both;
}
div#linkItem .itemContainer{
	float:none;
	clear:both;
}
div#linkItem .itemContainer ul{
	margin:0 auto;
}
#bannerSection{
	margin:0 auto;
	text-align:center;
}
#bannerSection li{
	display:inline-block;
	width:46%;
	text-align:center;
	margin:5px;
}
#bannerSection img{
	width:100%;
	vertical-align:bottom;
}

/*--------------------------*
 * bannerSlider
 *--------------------------*/
div#bannerSection {
/*
    background: url("../images1408/line02.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    padding: 15px 35px 30px;
    padding: 15px 0 30px;
*/
    padding: 0;
}

/*--------------------------*
 * news
 *--------------------------*/
div#newsArea dd {
    padding: 0 2px 8px;
}
div#newsArea dt {
	position:relative;
}
.wraplr,
.wrapperContainer{
	margin:0;
}
/*--------------------------*
 * ご契約者の方
 * 事故については
 *--------------------------*/
.frame_circle {
    font-size:1em;
    float: none;
    margin: 0 0 10px 0;
	width: 100%;
}
.frame_circle h3 {
    background-color: #e8d1a4;
    border:0;
    border-radius:0;
    color: #734800;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    padding: 8px 0;
    text-align: center;
}
.frame_circle h4 {
    border:0;
    color: #d98a3b;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 0 5px 5px;
    padding:5px 0 0 0;
}
.frame_circle .frame_contents {
    background-color: #f6f4f1;
    border-radius:0;
    border:0;
    padding:0 0 10px 0;
    margin: 0;
	height:auto;
}
.frame_circle .frame_contents p{
    padding:10px 0 0 10px;
}
.frame_circle ul.buttons {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}
.frame_circle ul.buttons li {
    display: inline-block;
    padding-left: 10px;
}
.frame_circle ul.buttons li:first-child {
    padding-left: 0;
}
.frame_circle .button {
    background-color: #db8e41;
    border-radius: 6px;
    color: #ffffff;
    display: table-cell;
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 195px;
}
.frame_circle .button:hover {
    background-color: #ab6a41;
}
.frame_circle ul.links {
    clear: both;
    padding-top: 10px;
}
.frame_circle ul.links li:first-child {
	border-top:1px solid #cccccc;
}
.frame_circle ul.links li {
    font-size:1.3em;
	margin:0;
	list-style:none;
	padding-left: 4px;
	height:45px;
	line-height:45px;
	border-bottom:1px solid #cccccc;
}
.frame_circle p{
	font-size:1.1em;
}
.customer_login,
.customer_support{
	display:block;
	width:auto;
}
/*--------------------------*
 * contact us
 *--------------------------*/
.contactus {
    border:0;
    border-radius: 0;
    font-size: 1em;
    margin-bottom: 5px;
	text-align:center;
}
.contactus h2 {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom: 0;
    border-radius: 0;
    font-size:1.3em;
    font-weight: bold;
    padding: 5px 8px;
}
.contactus ul{
	display:table;
	margin:0 auto;
}
.contactus ul li{
	display:table-cell;
	vertical-align:middle;
	padding:5px;
	font-size:1.3em;
}

/*--------------------------*
 * approvalNumber
 *--------------------------*/
#approvalNumber{
	margin-right:1em;
}


