@charset "UTF-8";

body{color:#000;background:#FFF;font:13px/1.22 Arial, Roboto, 'Droid Sans', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;*font-size:small;*font:x-small;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{line-height:-1px;font-size:80%;vertical-align:top;}
sub{line-height:-1px;font-size:80%;vertical-align:baseline;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}

h1 {font-size:138.5%;}
h2 {font-size:123.1%;}
h3 {font-size:108%;}
h1,h2,h3 {margin:0 0 1em 0;}
h4,h5,h6{font-size:100%;}
h1,h2,h3,h4,h5,h6,strong {font-weight:bold;}
abbr,acronym {border-bottom:1px dotted #000;cursor:help;} 
em {font-style:italic;}
blockquote,ul,ol,dl {margin:1em;}
ol,ul,dl {margin-top:0;margin-left:2em;}
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}
dl dd {margin-left:1em;}
th,td {padding:.5em 0; vertical-align:top;}
th {font-weight:bold;text-align:center;}
caption {margin-bottom:.5em;text-align:center;}
p{margin:0 0 1em 0;}
html>body a:focus{outline: 0 !important;}
a img{border:none;text-decoration:none;}


box:after{/* for modern brouser */ 
content: " "; clear: both; height: 0; display: block;
visibility: hidden;} 

* html box{/* for IE */ 
/*?*/height:1%;/* for WinIE*/ 
display:inline-table;/* for MacIE*/ 
} 
