@charset "utf-8";

body {
	text-align: center;
	color: #595757;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

div#wrapper{
	width:960px;
	margin:0 auto;
	font-size:82%;
	line-height:1.8;
}
div#contentsWrap{
	border-top:18px solid #273f80;
	border-left:15px solid #273f80;
	border-right:15px solid #273f80;
}
div#main{
	position:relative;
}
div#main p.homeBt{
	position:absolute;
	top:40px;
	right:40px;
}
div#contents{
	width:860px;
	margin:0 auto;
}
div#contents p{
	text-align:left;
}

div.sec01Right{
	width:500px;
	float:left;
	text-align:left;
	margin-left:25px;
}
div.sec01Right h3{
	font-size:120%;
	font-weight:bold;
	color:#273f7f;
}
div.sec01Right p{
	margin-top:10px;
}
div.sec01Right p span{
	text-decoration:underline;
	color:#f15a24;
	font-weight:bold;
	vertical-align:bottom;
	font-size:120%;
}
div#service{
	position:relative;
}
div#service p.detailBt{
	position:absolute;
	top:196px;
}
div#service p.detailBt.service01{
	left:187px;
}
div#service p.detailBt.service02{
	left:388px;
}
div#service p.detailBt.service03{
	left:546px;
}
div#voice div.voiceWrap{
	width:726px;
	margin:20px auto;
}
div.voiceTxt{
	width:619px;
}
div#voice table td.txt{
	background:#d4d9e6;
	text-align:left;
	padding:0 15px;
	font-size:12px;
}
p.defWdt{
	width:690px;
	margin:0 auto;
}
a.pdfLink {
	background: url('../images/icon_pdf.png') 0 3px no-repeat;
	text-align: left;
	padding-left:20px;
	
}

div#sec08 ul{
	width:690px;
	margin:0 auto;
	list-style:none;
	text-align:left;
}
div#sec08 ul li{
	background:url(../images/icon_dotted.png) 0 10px no-repeat;
	padding-left:10px;
}

div.btArea{
	margin:50px auto 0;
}
div#footer{
	margin:10px auto 0;
}
/***** #footer *****/
div#floteArea {
	position: fixed !important;
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}

div#floteArea a{
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	font-size:16px;
}

div#floteArea ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

div#floteArea li {
	float:left;
	margin-right: 5px;
	padding: 2px;
}

.close_float {
	font-size:24px;
	font-weight:bold;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align:center;
	padding: 11px 10px 9px 10px;
	background:#99cc66;
	background-size:10px 33px;
}

.close_float a{
	color:#fff;
	text-decoration:none;
}
#document_no {
	width:100%;
	text-align:right;
}
#document_no #document_no_txt{
	text-align:right;
}
