<Files ~ "^\.ht">
 deny from all
 </Files>
<IfModule mod_expires.c>
   ExpiresActive On
   ExpiresByType image/gif "access plus 1 week"
   ExpiresByType image/jpg "access plus 1 week"
   ExpiresByType image/jpeg "access plus 1 week"
   ExpiresByType image/png "access plus 1 week"
   ExpiresByType image/x-icon "access plus 1 week"
   ExpiresByType text/css "access plus 1 week"
   ExpiresByType text/javascript "access plus 1 week"
   ExpiresByType application/x-javascript "access plus 1 week"
</IfModule>  
Redirect permanent /pc/kaigai_ryoko/kairyo/index.html http://www.au-sonpo.co.jp/pc/kaigai/index.html 
Redirect permanent /pc/golf_hoken/index.html http://www.au-sonpo.co.jp/pc/golf/index.html
Redirect permanent /pc/kaigai_ryoko/apl/index.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/index2.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/complaint/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/compliance/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/denshi_kokoku/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/han_shakai_seiryoku/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/kanyu_hoshin/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/news/2010/01/29.html http://www.au-sonpo.co.jp/pc/corporate/news/newsrelease_2010.html
Redirect permanent /pc/corporate/rieki_sohan_hoshin/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/risk/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/saiyou/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/customer/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/faq01.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/faq02.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/faq03.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/faq04.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/faq05.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/faq06.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/faq/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/golf_hoken/index.html http://www.au-sonpo.co.jp/pc/golf/index.html
Redirect permanent /pc/golf_hoken/odekake_golf/index.html http://www.au-sonpo.co.jp/pc/golf/index.html
Redirect permanent /pc/golf_hoken/odekake_golf/select_departure.html http://www.au-sonpo.co.jp/pc/golf/index.html
Redirect permanent /pc/kaigai_ryoko/apl/index.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/B-1-20PC.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_01.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_02.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_03.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_04.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_05.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_06.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/hosyo_naiyo/hosyo_07.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/kairyo/20121218index.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/kaigai_ryoko/kairyo/assistance.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/kaigai_ryoko/kairyo/B-1-18PC.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/kaigai_ryoko/kairyo/B-1-21PC.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/kaigai_ryoko/kairyo/index.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/kaigai_ryoko/old/pccampaign/00_old20120120/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kaigai_ryoko/pccampaign/index.html http://www.au-sonpo.co.jp/pc/kaigai/index.html
#Redirect permanent /pc/keizoku_tetsuzuki/index.html http://www.au-sonpo.co.jp/pc/aute/keizoku_tetsuzuki/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-1.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-2.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-4.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-5.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-6.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-7.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-1-3-8.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-1.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-10.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-11.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-12.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-13.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-14.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-3.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-5.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-6.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-7.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/hosyo_naiyo/A-2-5-9.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/kokunai_ryoko/odekake/index.html http://www.au-sonpo.co.jp/pc/kokunai/index.html
Redirect permanent /pc/kokunai_ryoko/odekake/select_departure.html http://www.au-sonpo.co.jp/pc/kokunai/index.html
Redirect permanent /pc/lp/gakuburu/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/oshirase/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/oshirase/oshirase_index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/oshirase/oshirase_template.html http://www.au-sonpo.co.jp/pc/index.html
#Redirect permanent /pc/otoiawase/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/privacy_policy/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/jiko_shori/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/moshikomi_houhou/index.html http://www.au-sonpo.co.jp/pc/aute/moushikomi_houhou/index.html
Redirect permanent /pc/riyou/myau_sonpo/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/tetsuduki/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyo_kiyaku/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/shohin/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/sonpo_adr/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/bicycle/20120525bicycle.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/bicycle/B-1-14-1PC.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/bicycle/index.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/bicycle/popup/B-1-8-1.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/bicycle/popup/B-1-8-2.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/bicycle_w/index.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/golf/20120525golf.html http://www.au-sonpo.co.jp/pc/sportsgolf/index.html
Redirect permanent /pc/standard_shogai/golf/index.html http://www.au-sonpo.co.jp/pc/sportsgolf/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-1-3-1.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-1-3-2.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-1-3-4.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-1-3-5.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-1-3-6.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-1-3-7.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-1.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-10.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-11.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-12.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-13.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-14.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-15.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-16.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-17.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-18.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-19.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-3.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-5.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-6.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-7.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/A-2-5-9.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/B-1-8-1.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/hosyo_naiyo/B-1-8-2.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/leisure/20120525leisure.html http://www.au-sonpo.co.jp/pc/sports/index.html
Redirect permanent /pc/standard_shogai/leisure/index.html http://www.au-sonpo.co.jp/pc/sports/index.html
Redirect permanent /pc/standard_shogai/new_bicycle/index.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/new_bicycle/index_1.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/new_bicycle/index_2.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/new_bicycle/popup/B-1-8-1.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/new_bicycle/popup/B-1-8-2.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/old/bicycle/index.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/old/bicycle_w/index.html http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/runner/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/sports/20120525sports.html http://www.au-sonpo.co.jp/pc/sports/index.html
Redirect permanent /pc/standard_shogai/sports/index.html http://www.au-sonpo.co.jp/pc/sports/index.html
Redirect permanent /pc/standard_shogai/standard_kaitei/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/yakkan/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/bicycle/ http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/golf/ http://www.au-sonpo.co.jp/pc/sportsgolf/index.html
Redirect permanent /pc/kokunai_ryoko/odekake/ http://www.au-sonpo.co.jp/pc/kokunai/index.html
Redirect permanent /pc/standard_shogai/sports/ http://www.au-sonpo.co.jp/pc/sports/index.html
Redirect permanent /pc/standard_shogai/leisure/ http://www.au-sonpo.co.jp/pc/sports/index.html
Redirect permanent /pc/golf_hoken/odekake_golf/ http://www.au-sonpo.co.jp/pc/golf/index.html
Redirect permanent /pc/kaigai_ryoko/kairyo/ http://www.au-sonpo.co.jp/pc/kaigai/index.html
Redirect permanent /pc/golf_hoken/standard_golf/index.html http://www.au-sonpo.co.jp/pc/sportsgolf/index.html
Redirect permanent /pc/golf_hoken/standard_golf/ http://www.au-sonpo.co.jp/pc/sportsgolf/index.html
Redirect permanent /pc/golf_hoken/ http://www.au-sonpo.co.jp/pc/golf/index.html
Redirect permanent /pc/faq/ http://www.au-sonpo.co.jp/pc/index.html
#Redirect permanent /pc/keizoku_tetsuzuki/ http://www.au-sonpo.co.jp/pc/aute/keizoku_tetsuzuki/index.html
Redirect permanent /pc/lp/gakuburu/ http://www.au-sonpo.co.jp/pc/index.html
#Redirect permanent /pc/otoiawase/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/privacy_policy/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyo_kiyaku/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/jiko_shori/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/moshikomi_houhou/ http://www.au-sonpo.co.jp/pc/aute/moushikomi_houhou/index.html
Redirect permanent /pc/riyou/myau_sonpo/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/tetsuduki/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/riyou/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/sonpo_adr/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/bicycle_w/ http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/new_bicycle/ http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/old/bicycle/ http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/old/bicycle_w/ http://www.au-sonpo.co.jp/pc/bycle/index.html
Redirect permanent /pc/standard_shogai/runner/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/standard_shogai/standard_kaitei/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/yakkan/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/site_map/index.html http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/site_map/ http://www.au-sonpo.co.jp/pc/index.html
Redirect permanent /pc/corporate/news/newsrelease_index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_131217.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_131015.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130828-1.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130828-2.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130828-3.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130523.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130326-2.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130326.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2013/newsrelease_130115.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/newsrelease_2012.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_121221.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_121127.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_121030_1.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_121030_2.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120925.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120828.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120627.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120426.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120326.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120227.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120125.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2012/newsrelease_120118.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/newsrelease_2011.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_111128.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_111121.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_111031.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_111020.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_111003.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_110726.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_110706.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_20110630.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_110614.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_11052401.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_11052402.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_11052403.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_20110331.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_20110301.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2011/newsrelease_20110225.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/newsrelease_2010.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/news/2010/newsrelease_20100129.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/pdf/disclo_130725.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/pdf/disclo_120725.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/pdf/disclo_110726.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/pdf/130627_bs_pl.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/pdf/120627_bs_pl.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/kessan/pdf/110630_bs_pl.pdf http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/otoiawase/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/gaiyo/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/yakuin/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/rinen/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/top_message/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate/index.html http://corp.au-sonpo.co.jp/index.html
Redirect permanent /pc/corporate_top.html http://corp.au-sonpo.co.jp/index.html
order deny,allow

