@charset "utf-8";
/* CSS Document */

/*メガメニュー*/

html{

	overflow: auto;

	}


body{
	position: relative;
	overflow-x: hidden
	}

.menu {
position: relative;
max-width:980px;
 margin: 0 auto;
}

.menu > li {
    float: left;

}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 100;
	width:100%;

}

.menu > li:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
}


.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
   *zoom: 1;
}


.menu__mega {
}

.menu__mega ul.menu__second-level {
    position: absolute;
    top: 77px;
    left: 0px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
	z-index:120;
	padding-top:30px;
	margin: 0 -200%;
	padding-left: 200%;
	padding-right: 200%;
	background:url(../../common/img_20150623/pc/common/megamenu_bg.png) 0 27px repeat-x;
	}



.menu__mega_s ul.menu__second-level {
    position: absolute;
    top: 25px!important;
    left: 0px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
	z-index:120;
	padding-top:0px;
	margin: 0 -200%;
	padding-left: 200%;
	padding-right: 200%;
	background:url(../../common/img_20150623/pc/common/megamenu_bg.png) 0 27px repeat-x;
	}



.menu__mega ul.menu__second-level li.box{
width:100%;

	}

.menu__mega ul.menu__second-level .sankaku{
float:left;
display:block;
margin-top:-3%;
margin-left:25%;
}


.menu__mega_s ul.menu__second-level .sankaku{
float:left;
display:block;
margin-top:-2.1%!important;
margin-left:18%;
}

.menu__mega ul.menu__second-level #mega_contents{
max-width:100%;
background: #ec5500;
padding:2.5% 0 3% 0;
/*margin:0 auto!important;*/

}

.menu__mega_s ul.menu__second-level #mega_contents{
max-width:980px;
padding:2.5% 0 3% 0;
margin:0 auto!important;
background:transparent!important;
}


.menu__mega:hover ul.menu__second-level {
    top: 77px;
    visibility: visible;
    opacity: 1;
}


.menu__mega ul.menu__second-level #mega_contents ul{
max-width:980px;
padding-top:2.5%;
clear:both;
}



.menu__mega ul.menu__second-level #mega_contents li.large{

width:43%;
float:left;
padding-right:3%;

}

.menu__mega ul.menu__second-level #mega_contents li.large{

width:43%;
float:left;
padding-right:3%;

}


.menu__mega ul.menu__second-level #mega_contents li{

width:16.5%;
border-left:none;
float:left;
padding-top:0.5%;

}

.menu__mega ul.menu__second-level #mega_contents li a{


padding:0;
display:block;
border:0;

}




#header_tab_wrapper{
	top:80px;
	transition: all .4s;
	width:100%;
	padding:5px 0;
	background-color:#585757!important;
	margin-top:10px;
}
#header_tab_wrapper li{
	float:left;
	color:#FFFFFF;
	margin-right:1em;
	font-size:14px;
}
#header_tab_wrapper li span{
	color:#E7551C;
}
#header_tab_wrapper li a{
	color:#FFFFFF;
	text-decoration:none;
}
#header_tab{
	max-width:980px;
	position:relative;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
}
#header_tab table{
	width:100%;
}
#header_tab table img{

}
#header_tab .left{
	width:21%;
	padding-right:3%;
	float:left;
	margin-top:5px;
}
#header_tab table img{
	width:100%;
}
#header_tab table{
	width:60%;
	float:left;
	margin-top:5px;
}
#header_tab #apply_btn{
	vertical-align:middle;
	width:12%;
		float:right;
}

#header_tab_wrapper .bycle_sub,#header_tab_wrapper .byclebest_sub,#header_tab_wrapper .pet_sub,#header_tab_wrapper .kaigai_sub{
	width:100%;
clear:both;
display:none;
}


.itemBicycle #header_tab_wrapper .bycle_sub{
display:block;

}

.itemBicyclebest #header_tab_wrapper .byclebest_sub{
display:block;

}