@charset "utf-8";

#page_contents .hoshou .frame{
	border:solid 2px #ea5504;
	background-color:#FFFFFF;
	padding-top:40px;
	padding-bottom:30px;
	margin-top:25px;
}

.sarani_platina_course{
	margin-bottom:30px;
}

.sarani_platina_course .point_flow_text{
	margin-bottom:0;
}
.sarani_platina_course .check_list{
	margin-left:0;
}
.sarani_platina_course .check_list .check{
	margin-top:10px;
	clear:both;
}
.sarani_platina_course .check_list .check img{
	float:left;
	margin-bottom:1em;
	margin-right:0.8em;
	margin-top:0.5em;
}
.sarani_platina_course .indent1{
	margin-left:20px;
	margin-right:20px;
}
.sarani_platina_course .check_list.small .check{
	font-size:14px;
}
/* --- Override --- */
#contents_wrapper{
	margin-top: 0;
}
#sp_header_new_wrapper{
	display:none;
}
#page_contents .main_sp{
	margin-top: 0;
}
#page_contents .maintitle{
	padding:0;
}
