@charset "UTF-8";
/* PC CSS Document */
@import url("base.css");
@import url("style_hokenryo.css");

/*ALL*/
a{color:#3F6798;}
a:hover{color:#3399CC;}
img{margin:0 auto;}

.but a{position: relative;display: block;overflow: hidden;}
.but a img{position: absolute;left: 0;top: 0;}
.but a:hover img{}
.ico-arr2{width:15px;height:15px;background-size: 15px 15px;background-image:url("../img/pc/ico_arr2.png");}
.ico-arr{width:20px;height:18px;background-size: 20px 18px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}
.ico-arr3{width:19px;height:17px;background-size: 19px 17px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr3.png");margin-right:3px;}

.contact{position:relative;clear:both;text-align:center;line-height:0;margin:2em 0 3em;}
.contact .fonts{margin:10px;}
.butcon1{width:727px;margin:5px auto;}
.butcon1 img{width:725px;height:80px;background-image:url("../img/pc/but_contact_pk.png");}
.butcon1 a{height:80px;}
.butcon1 a:hover img{background-position:0 -100px;}
.butcon2{width:727px;margin:15px auto;min-height:20px;}
.contact .butcon2 img{width:14px;height:13px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}
.butcon2 a{margin:10px;}


/**/
body{background-color:#fff;border-top:5px solid #e35e01;font-size:115%;line-height:140%;color:#666;}
#wrapper{text-align:center;}
#container{background-color:#fff;margin:-5px auto 0 auto;width:990px;text-align:left;min-height:100em;border-top:5px solid #e35e01;}

#header{height:104px;}
#head_txt{font-size:0.8em;line-height:1.2em;margin:0 8px 6px;}
h1{float:left;margin-bottom:0;width:670px;}
h1 img{width:612px;height:104px;background-image:url("../img/pc/head_logo.png");}
#customer{float:right;margin-top:0;}
#customer img{width:310px;height:104px;background-repeat:no-repeat;background-image:url("../img/pc/customer_txt.png");}
#fvimage{height:420px;float:left;margin-right:0;margin-bottom:-5px;}
#fvimage img{width:714px;height:420px;background-image:url("../img/pc/fv_main.png");margin-bottom:20px;}
#fvtxt{display:none;}
#bnr{margin-top:0;}
#bnr img{width:256px;height:70px;background-image:url("../img/pc/fv_doc.png");background-repeat:no-repeat;}
#bnr a:hover img{background-position:0 -80px;}
#exp img{width:256px;height:210px;margin-top:8px;;background-image:url("../img/pc/fv_exp.png");background-repeat:no-repeat;}


/*for IE7*/
*:first-child+html #exp dt{padding-top:0;}
*+html #exp dt{padding-top:0;}
*:first-child+html #bnr{margin-top:-2px;}
*+html #bnr{margin-top:-2px;}

#fv dl{text-align:right;margin-right:18px;}
#fv dl dt{text-align:left;}
#fv dd{}
#fv .contact{margin:-120px 20px 0 0;float:right;}
#fv .contact p{margin-left:-10px;text-align:right;margin-bottom:0;}
#fv .butcon1{width:256px;margin:0;}
#fv .butcon1 img{width:256px;height:55px;background-image:url("../img/pc/but_contact_FV.png");background-repeat:no-repeat;}
#fv .butcon1 a:hover img{background-position:0 -80px;}
#fv .butcon2{width:240px;font-size:0.7em;line-height:1.3em;margin:5px -10px 0 0;}
#fv .butcon2 img{width:14px;height:13px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}
#fv .butcon2 a{line-height: 1.4em;}
#fv .butcon2 .fonts{width:250px;margin:0;text-align:left;clear:both;font-size:0.9em;padding-left:1em;text-indent:-1em;}

#main{text-align:center;clear:both;margin-top:6em;}
#main section{width:845px;margin:70px auto;text-align:left;}
#main section .stxt{margin:0;}
#main .contact{width:845px;}



#fv #fv-but ul{margin:10px auto;width:900px;clear:both;}
#fv #fv-but ul,#fv #fv-but li{list-style:none;}
#fv #fv-but li{width:290px;float:left;margin-right:10px;}
#fv #fv-but #fb1 a{width:290px;height:52px;}
#fv #fv-but #fb1 a:hover img,#fv #fv-but #fb2 a:hover img,#fv #fv-but #fb3 a:hover img{background-position:0 -80px;}
#fv #fv-but #fb1 img{width:290px;height:52px;background-image:url("../img/pc/fv_but2_1.png");}
#fv #fv-but #fb2 a{width:290px;height:52px;}
#fv #fv-but #fb2 img{width:290px;height:52px;background-image:url("../img/pc/fv_but2_2.png");}
#fv #fv-but #fb3 a{width:290px;height:52px;}
#fv #fv-but #fb3 img{width:290px;height:52px;background-image:url("../img/pc/fv_but2_3.png");}
#fv .contact{margin-bottom:0.5em;}

#se1,#se2,#se3,#se4,#se5{width:845px;margin:30px auto;padding:0;text-align:left;}
#se1 {line-height:0;}
div#se3{padding:0;margin:0 auto;}

#main h2{clear:both;width:950px;margin-left:-60px;}
#se1-1-ttl img{width:950px;height:100px;background-image:url("../img/pc/con1_ttl.png");background-repeat:no-repeat;}
#se1-1-1 img{width:843px;height:192px;background-image:url("../img/pc/con1_1_1.png");}
#se1-1-2{margin:0;}
#se1-1-2 img{width:843px;height:343px;background-image:url("../img/pc/con1_1_2.png");}
#se1-1-2-1 img{width:843px;height:600px;background-image:url("../img/pc/con1_1_2_1.png");margin-bottom:15px;}
#se1-1-3-6{width:741px;height:452px;margin:0 auto;background-image:url("../img/pc/con1_1_3_6.png");padding:106px 51px 0;font-size:0.9em;line-height:2.1em;color:#5b4a3e;text-align:left;background-repeat:no-repeat;}
#se1-1-3-6 img{width:220px;height:131px;float:left;background-image:url("../img/sp/con1_1_3_6_1.png");background-repeat:no-repeat;}
#se1-1-3-6 span#colum_txt{border-bottom:1px dashed #5b4a3e;padding-bottom:8px;}
#se1-1-3-6 span#colum_aside{font-size:14px;}
#se1-1-3,#se1-1-3 li{line-height:0;margin:0;}
#se1-1-3 li{line-height:0;list-style:none;}
#se1-1-3 img{width:845px;}
#se1-1-3-1 img{width:843px;height:65px;background-image:url("../img/pc/con1_1_3_1.png");}
#se1-1-3-2 img{width:843px;height:63px;background-image:url("../img/pc/con1_1_3_2.png");} 
#se1-1-3-3 img{width:843px;height:48px;background-image:url("../img/pc/con1_1_3_3.png");} 
#se1-1-3-4 img{width:843px;height:60px;background-image:url("../img/pc/con1_1_3_4.png");} 
#se1-1-3-5 img{width:843px;height:7px;background-image:url("../img/pc/con1_1_3_5.png");background-repeat:no-repeat;} 
#se1-1-4{text-align:right;margin:10px 70px 0 0;}
#se1-1-4 img{margin-top:5px;width:14px;height:13px;background-size:14px 13px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}
#se1-2-ttl{margin-top:20px;}
#se1-2-ttl img{margin-top:40px;width:400px;height:48px;background-image:url("../img/pc/con1_2_1.png");}

#se1-2-2{line-height:0;margin:40px 0 0 0;font-size:95%;height:750px;position:relative; }
#se1-2-2 dt,#se1-2-2 dd{position:absolute;}
#se1-2-2 dt ,#se1-2-2 dt img{width:400px;height:35px;}
#se1-2-2 dd{width:240px;height:115px;margin:0;line-height:130%;background-repeat:no-repeat;background-position:0 10px;padding:10px 0 0 160px;}
#se1-2-2-1,#se1-2-2-3,#se1-2-2-5,#se1-2-2-7{clear:both;margin-right:45px;}

#se1-2-2-1{top:0;left:0;}
#se1-2-2-1d{top:40px;left:0;}
#se1-2-2-2{top:0;right:0;}
#se1-2-2-2d{top:40px;right:0;}
#se1-2-2-3{top:180px;left:0;}
#se1-2-2-3d{top:220px;left:0;}
#se1-2-2-4{top:180px;right:0;}
#se1-2-2-4d{top:220px;right:0;}
#se1-2-2-5{top:360px;left:0;}
#se1-2-2-5d{top:400px;left:0;}
#se1-2-2-6{top:360px;right:0;}
#se1-2-2-6d{top:400px;right:0;}
#se1-2-2-7{top:540px;left:0;}
#se1-2-2-7d{top:580px;left:0;}
#se1-2-2-8{top:540px;right:0;}
#se1-2-2-8d{top:580px;right:0;}

#se1-2-2-1 img{background-image:url("../img/pc/con1_2_2_1.png");} 
#se1-2-2-1d{background-image:url("../img/pc/con1_2_2_1d.png");}
#se1-2-2-2 img{background-image:url("../img/pc/con1_2_2_2.png");} 
#se1-2-2-2d{background-image:url("../img/pc/con1_2_2_2d.png");}
#se1-2-2-3 img{background-image:url("../img/pc/con1_2_2_3.png");} 
#se1-2-2-3d{background-image:url("../img/pc/con1_2_2_3d.png");}
#se1-2-2-4 img{background-image:url("../img/pc/con1_2_2_4.png");} 
#se1-2-2-4d{background-image:url("../img/pc/con1_2_2_4d.png");}
#se1-2-2-5 img{background-image:url("../img/pc/con1_2_2_5.png");} 
#se1-2-2-5d{background-image:url("../img/pc/con1_2_2_5d.png");}
#se1-2-2-6 img{background-image:url("../img/pc/con1_2_2_6.png");} 
#se1-2-2-6d{background-image:url("../img/pc/con1_2_2_6d.png");}
#se1-2-2-7 img{background-image:url("../img/pc/con1_2_2_7.png");} 
#se1-2-2-7d{background-image:url("../img/pc/con1_2_2_7d.png");}
#se1-2-2-8 img{background-image:url("../img/pc/con1_2_2_8.png");} 
#se1-2-2-8d{background-image:url("../img/pc/con1_2_2_8d.png");}

#se2-ttl img{width:950px;height:110px;background-image:url("../img/pc/con2_ttl.png");background-repeat:no-repeat;}
#se2 #se2-1-7{text-align:center;clear:both;}
#se2-1-7 img{width:843px;height:664px;background-image:url("../img/pc/con2_1_7.png");background-repeat:no-repeat;margin:20px auto 5px;}
#se2-1-5 img{width:843px;height:120px;background-image:url("../img/pc/con2_1_5.png");background-repeat:no-repeat;}
#se2-2-1 img{width:843px;height:152px;background-image:url("../img/pc/con2_2_1.png");}
#se2-2-2 img{width:843px;height:236px;background-image:url("../img/pc/con2_2_2.png");}
#se2-2-3{float:left;}
#se2-2-3 img{width:422px;height:497px;background-image:url("../img/pc/con2_2_3.png");}
#se2-2-4 img{width:421px;height:497px;background-image:url("../img/pc/con2_2_4.png");}
#se2 .stxt{clear:both;margin-top:3em;}
#se2 .stxt img{width:845px;height:70px;background-image:url("../img/pc/con2_txt.png");}
#se2 .contact{margin:0 0 3em;}
#se2 .aside{font-size:0.7em;width:720px;margin-left:65px;line-height:1.4em;}

#se3-ttl img{width:950px;height:80px;background-image:url("../img/pc/con3_ttl.png");margin:0;}
#se3{text-align:center;}
#se3 .mtxt{text-align:left;margin-left:60px;}
#se3-1-3 img{width:843px;height:100px;background-image:url("../img/pc/main_sttl.png");margin-top:20px;}
#se3-1 img{width:725px;height:350px;background-image:url("../img/pc/con3_1.png");margin-bottom:20px;}
#se3-1-1 img{width:843px;height:630px;background-image:url("../img/pc/main_hyo.png");}
#se3-1-2{text-align:left;margin-top:-115px;margin-left:100px;}

#se3-2{width:380px;float:left;margin-left:60px;margin-bottom:1em;}
#se3-2 p{margin:0;}
#se3-2-1 img{width:380px;height:306px;background-image:url("../img/pc/con3_2_1.png");background-repeat:no-repeat;}
/* #se3-2-2 img{width:380px;height:171px;background-image:url("../img/pc/con3_2_2.png");background-repeat:no-repeat;} */
#se3-3 p{float:left;width:345px;margin:0;}
#se3-3-1 img{width:345px;height:306px;background-image:url("../img/pc/con3_3_1.png");}
/* #se3-3-2 img{width:345px;height:171px;background-image:url("../img/pc/con3_3_2.png");} */
#se3 .contact{clear:both;}
#se3_course{clear:both;}
#se3 .stxt{clear:both;margin:3em 0 1em;}
#se3 .stxt img{width:845px;height:102px;background-image:url("../img/pc/con3_txt.png");}

#main_hyo #se3-topttl img{width:950px;height:80px;background-image:url("../img/pc/con1_topttl.png");background-repeat:no-repeat;}

#se4{margin-bottom:0;text-align: center;}
#se4 p{margin:0; line-height: 1.4em;}
#se4-ttl img{width:950px;height:80px;background-image:url("../img/pc/con4_ttl.png");background-repeat:no-repeat;}
#se4 .contact{clear:both;}
#se4 .contact .fonts{margin:5px;}
#se4-1-1{text-align:left;margin-top:-800px;margin-left:100px;}
#se4 #hokenryo_cat{position:relative;}
#se4 #hokenryo_cat img{width:843px;height:874px;background-image:url("../img/pc/hokenryo_cat.png");margin:30px auto;background-repeat:no-repeat;}
#se4 .aside{font-size:0.8em;width:690px;margin-left:96px;line-height:1.4em;text-align:left;position:absolute;top:710px;}

dl#ftxt{margin-left:0;}
dl#ftxt dd{}
#flogo{float:right;margin-top:1em;}

.pt{position:fixed;right:0;bottom:0;}
.fonts{font-size:75%;line-height:130%;}
.r{text-align:right;}
.c{text-align:center;}
.maintxt{color:#e1690f;font-weight:bold;margin-top:30px;font-size:20px;}
.mtxt{margin-top:100px;margin-bottom:30px;clear:both;}
.mt1e{margin-top:1em;}
.attention{margin-top:3em;}
.attention p{font-size:70%;text-align:left;line-height:130%;margin-left:1em;text-indent:-1em;margin-bottom:0;}
.stxt{margin-top:3em;}

.td1{width:16%;}
.td2{width:28%;}
.td3{width:28%;}
.td4{width:28%;}

#footer{border-top:3px solid #F1E4DC;padding:2em 0 75px 0;margin-top:1em;font-size:80%;line-height:130%;margin-bottom:30px;}
#footer .fonts{margin-bottom:2em;}
#footer dt img{width:160px;height:24px;background-image:url("../img/pc/foot_ttl.png");}
#footer dd img.ico-pdf{width:39px;height:16px;background-image:url("../img/pc/ico_pdf.png");}
#footer .pt img{width:88px;height:24px;background-image:url("../img/pc/pagetop.png");}
#footer #flogo{text-align:right;font-size:90%;}
#footer #flogo img{width:186px;height:34px;background-image:url("../img/pc/foot_logo.png");}
