@charset "UTF-8";
/* SP CSS Document */
@import url("style_sp_hokenryo.css");
/* 
html,body{width:640px !important;min-width:320px !important; max-width:320px !important; overflow-x:hidden; overflow-y:auto;font-size:95%;color:#666;}
 */
html,body{width:320px;overflow-x:hidden; overflow-y:auto;font-size:95%;color:#666;margin-right:auto;margin-left:auto;}

*{margin:0;padding:0;}
body p{line-height:140%;}
img{background-size: 100%;}
a{color:#3F6798;}
a:hover{color:#3399CC;}

#wrapper{text-align:center;padding-top:5px;border-top:3px solid #e35e01;}
#container{margin:0 auto;text-align:left;position:relative;}

#main{margin-top:50px;}
#main h2{margin-top:30px;}
#main .contact .fonts{margin-left:1em;text-indent:-1em;}

#fv{height:250px;}
#fv nav{display:none;}
#fv dl{display:none;}
#header h1 img{width:124px;height:69px;background-image:url("../img/sp/head_logo.png");background-size:124px 69px;}
#head_txt{font-size:12px;line-height:1.2em;margin:0 8px 6px;}
#fv .contact{display:none;}

#customer{position:absolute;top:0;right:0;}
#customer img{width:196px;height:69px;background-image:url("../img/sp/customer_txt.png");background-size:196px 69px;}
#fv #fvimage img{width:320px;height:209px;background-image:url("../img/sp/fv_main.png");background-size:320px 209px;}
#fv #fv-but{position:absolute;top:320px;left:0;}
#fv #fv-but ul,#fv #fv-but li{list-style:none;}
#fv #fv-but li{width:100px;float:left;margin-left:5px;}
#fv #fv-but #fb1 img{width:100px;height:45px;background-image:url("../img/sp/fv_but_1.png");background-size:100px 45px;}
#fv #fv-but #fb2 img{width:100px;height:45px;background-image:url("../img/sp/fv_but_2.png");background-size:100px 45px;}
#fv #fv-but #fb3 img{width:100px;height:45px;background-image:url("../img/sp/fv_but_3.png");background-size:100px 45px;margin-right:5px;}
#fv-txt{display:none;}

#main .contact{margin:2em 0 0;}
.contact .butcon1 img{width:320px;height:56px;background-size:320px 56px;background-image:url("../img/sp/but_contact.png");}
.contact .fonts{margin:5px 12px;font-size:80%;}
.contact .butcon2{margin:0 12px;}
.contact .butcon2 a{line-height:130%;height:4em;}
.contact .butcon2 img{margin-top:5px;width:14px;height:13px;background-size:14px 13px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}

#se1-1-ttl img{width:320px;height:80px;background-size:320px 80px;background-image:url("../img/sp/con1_ttl.png");}
#se1-1-1 img{width:320px;height:110px;background-size:320px 110px;background-image:url("../img/sp/con1_1_1.png");margin-bottom:5px;}
#se1-1-2 img{width:320px;height:230px;background-size:320px 230px;background-image:url("../img/sp/con1_1_2.png");}
#se1-1-2-1 img{width:320px;height:396px;background-image:url("../img/sp/con1_1_2_1.png");}
#se1-1-3-6{width:290px;height:506px;background-size:320px 586px;margin:0 auto;padding:80px 15px 0;background-image:url("../img/sp/con1_1_3_6.png");background-repeat:no-repeat;}
#se1-1-3-6 img{width:150px;height:128px;float:left;background-image:url("../img/sp/con1_1_3_6_1.png");background-repeat:no-repeat;}
#se1-1-3-6 span#colum_txt{border-bottom:1px dashed #5b4a3e;padding:0 10px 3px;font-size:0.8em;line-height:2.1em;color:#5b4a3e;text-align:left;}
#se1-1-3-6 span#colum_aside{font-size:80%;}
#se1-1-3{margin-top:10px;font-size:0px;}
#se1-1-3 li{line-height:0;}
#se1-1-3 img{width:320px;} 
#se1-1-3-1 img{height:46px;background-size:320px 46px;background-image:url("../img/sp/con1_1_3_1.png");} 
#se1-1-3-2 img{height:39px;background-size:320px 39px;background-image:url("../img/sp/con1_1_3_2.png");}
#se1-1-3-3 img{height:28px;background-size:320px 28px;background-image:url("../img/sp/con1_1_3_3.png");}
#se1-1-3-4 img{height:44px;background-size:320px 44px;background-image:url("../img/sp/con1_1_3_4.png");}
#se1-1-3-5 img{height:9px;background-size:320px 9px;background-image:url("../img/sp/con1_1_3_5.png");background-repeat:no-repeat;}
#se1-2-ttl img{width:320px;height:68px;background-size:320px 68px;background-image:url("../img/sp/con1_2_1.png");}
#se1-1-4 img{margin-top:5px;margin-left:12px;width:14px;height:13px;background-size:14px 13px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}

#se1-2-2{line-height:120%;font-size:80%;}
#se1-2-2 img{width:320px;height:69px;background-size:320px 69px;}
#se1-2-2 dt{height:100px;}
#se1-2-2 dd{height:50px;margin-top:-75px;margin-left:110px;margin-right:10px;}
#se1-2-2-1 img{background-image:url("../img/sp/con1_2_2_1.png");}
#se1-2-2-2 img{background-image:url("../img/sp/con1_2_2_2.png");}
#se1-2-2-3 img{background-image:url("../img/sp/con1_2_2_3.png");}
#se1-2-2-4 img{background-image:url("../img/sp/con1_2_2_4.png");}
#se1-2-2-5 img{background-image:url("../img/sp/con1_2_2_5.png");}
#se1-2-2-6 img{background-image:url("../img/sp/con1_2_2_6.png");}
#se1-2-2-7 img{background-image:url("../img/sp/con1_2_2_7.png");}
#se1-2-2-8 img{background-image:url("../img/sp/con1_2_2_8.png");}

#se2-ttl img{width:320px;height:80px;background-size:320px 80px;background-image:url("../img/sp/con2_ttl.png");}
#se2-1-1 img{width:320px;height:43px;background-size: 320px 43px;background-image:url("../img/sp/con2_1_1.png");}
#se2-1-2 img{width:320px;height:112px;background-size: 320px 112px;background-image:url("../img/sp/con2_1_2.png");}
#se2-1-3 img{width:320px;height:101px;background-size: 320px 101px;background-image:url("../img/sp/con2_1_3.png");}
#se2-1-4 img{width:320px;height:38px;background-size: 320px 38px;background-image:url("../img/sp/con2_1_4.png");}
#se2-1-5 img{width:320px;height:82px;background-size: 320px 82px;background-image:url("../img/sp/con2_1_5.png");}
#se2-1-6 img{width:320px;height:31px;background-size: 320px 31px;background-image:url("../img/sp/con2_1_6.png");}
#se2-1-7 img{width:320px;height:330px;background-size: 320px 330px;background-image:url("../img/sp/con2_1_7.png");margin:10px 0;}
#se2-1-8 img{width:320px;height:212px;background-size: 320px 212px;background-image:url("../img/sp/con2_1_8.png");}
#se2-1-9 img{width:320px;height:53px;background-size: 320px 53px;background-image:url("../img/sp/con2_1_9.png");}
#se2-2-1 img{width:320px;height:84px;background-size: 320px 84px;background-image:url("../img/sp/con2_2_1.png");}
#se2-2-2 img{width:320px;height:132px;background-size: 320px 132px;background-image:url("../img/sp/con2_2_2.png");}
#se2-2-3{float:left;}
#se2-2-3 img{width:160px;height:250px;background-size: 160px 250px;background-image:url("../img/sp/con2_2_3.png");}
#se2-2-4 img{width:160px;height:250px;background-size: 160px 250px;background-image:url("../img/sp/con2_2_4.png");}
#se2 .stxt{clear:both;margin-bottom:5px;}
#se2 .stxt img{width:320px;height:50px;background-size: 320px 50px;background-image:url("../img/sp/con2_txt.png");margin-top:1em;}
#se2 .contact{margin:0 0 3em;}
#se2 .aside{font-size:80%;margin:0 10px 0;padding-left:1em;text-indent:-1em;}

#se3-topttl img{width:320px;height:64px;background-size: 320px 64px;background-image:url("../img/sp/con1_topttl.png");}
#se3-ttl img{width:320px;height:61px;background-size: 320px 61px;background-image:url("../img/sp/con3_ttl.png");}
#se3-1 img{width:320px;height:175px;background-size: 320px 175px;background-image:url("../img/sp/con3_1.png");}
#se3-1-1 img{width:320px;height:268px;background-size:320px 268px;background-image:url("../img/sp/fv-hyo.png");}
#se3-1-2{text-align:left;margin-top:-10px;margin-left:20px;}
#se3-1-3 img{width:320px;height:70px;background-size:320px 70px;background-image:url("../img/sp/main_sttl.png");margin-top:10px;}
#se3-2{float:left;margin-bottom:1em;}
#se3-2-1 img{width:160px;height:55px;background-size: 160px 55px;background-image:url("../img/sp/con3_2_1.png");}
#se3-2-2 img{width:160px;height:74px;background-size: 160px 74px;background-image:url("../img/sp/con3_2_2.png");}
#se3-3-1 img{width:160px;height:55px;background-size: 160px 55px;background-image:url("../img/sp/con3_3_1.png");}
#se3-3-2 img{width:160px;height:74px;background-size: 160px 74px;background-image:url("../img/sp/con3_3_2.png");}
#se3 .stxt img{width:320px;height:86px;background-image:url("../img/sp/con3_txt.png");margin:20px 0 5px;}

#se4{margin-bottom:10px;}
#se4 table{text-align: center;}
#se4 p{margin:0;}
#se4-ttl img{width:320px;height:64px;background-size: 320px 64px;background-image:url("../img/sp/con4_ttl.png");}
#se4 #hokenryo_cat{position:relative;}
#se4 #hokenryo_cat img{width:320px;height:655px;background-size: 320px 655px;background-image:url("../img/sp/hokenryo_cat.png");margin:20px auto;background-repeat:no-repeat;}
#se4 .aside{font-size:0.8em;line-height:1.4em;text-align:left;position:absolute;top:456px;margin:0 15px;}

#footer dt img{width:135px;height:15px;background-size: 135px 15px;background-image:url("../img/sp/foot_ttl.png");}
#footer dd img.ico-pdf{width:28px;height:11px;background-size: 28px 11px;background-image:url("../img/sp/ico_pdf.png");}
#footer .pt img{width:88px;height:24px;background-size: 88px 24px;background-image:url("../img/sp/pagetop.png");}
#footer #flogo img{width:162px;height:17px;background-size: 162px 17px;background-image:url("../img/sp/foot_logo.png");}

#footer{border-top:3px solid #F1E4DC;padding:30px 0;margin-bottom:50px;}
#footer dl dd{margin-bottom:5px;margin-left:2em;text-indent:-1em;font-size:90%;}
#footer #ftxt dd a{margin-right:40px;}
#footer #ftxt dd a img{margin-left:-5px;}
#footer .pt{position:fixed;right:0;bottom:0;}
#footer #flogo{width:320px;text-align:right;position:absolute;bottom:-10px;}
#footer #flogo a{height:17px;display:block;position:absolute;bottom:1.5em;right:0;}
#footer #flogo span{font-size:80%;position:absolute;bottom:0;right:15px;text-align:right;}
#end .fonts{padding-top:5px;}

.attention p{font-size:80%;line-height:130%;padding-left:2em;text-indent:-1em;padding-top:10px;}
.mtxt{margin:10px;}
.fonts{font-size:90%;}
.r{text-align:right;}
.c{text-align:center;}
.ico-arr2{width:15px;height:15px;background-size: 15px 15px;background-image:url("../img/sp/ico_arr2.png");}
.ico-arr{width:14px;height:13px;background-size:14px 13px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr.png");}
.ico-arr3{width:19px;height:14px;background-size: 19px 17px;background-repeat:no-repeat;background-image:url("../img/pc/ico_arr3.png");padding-top:3px;margin-right:3px;}

.td1{width:25%;}
.td2{width:25%;}
.td3{width:25%;}
.td4{width:25%;}